

  <div class="card">
    <div class="card-header" style="
    background: linear-gradient(
        180deg
        ,#1C1C1C,#1C1C1C)!important;text-align: center; font-weight: bold; color: #F0C403;
">
      FICHE DE PARI
    </div>
    <ul class="list-group list-group-flush" style="
    background: linear-gradient(
180deg
,#FEFEFE 0%,#D9D9D9 100%);
">
      <li class="list-group-item" style="
      background: linear-gradient(
  180deg
  ,#FEFEFE 0%,#D9D9D9 100%);
  color: #464646;
    font-family: roboto,sans-serif;
    font-size: 14px;
    font-weight: bold;
  ">Pas de sélections sur la fiche de pari</li>
    </ul>
  </div>


  <div class="card mt-2">
    <ul class="list-group list-group-flush">
      <li class="list-group-item " style="background: linear-gradient(
        180deg
        ,#1C1C1C,#1C1C1C)!important; border-radius: 0;">
        <div class="text" style=" white-space: nowrap; height: 20px; text-overflow: ellipsis;font-size: 16px;color: #F0C403;font-weight: 700;text-transform: uppercase;">CODE DE RÉSERVATION</div>
      </li>
      <li class="list-group-item" style="background-color:#EBEBEB ;" >
        <div class="LML">
          <input type="password" class="form-control" id="inputPassword2" placeholder="Entrez le numéro de réservation de pari">
        
        </div>
      </li>
    </ul>
  </div>