
<div class="container-fluid" style="padding: 0%;overflow: hidden;">
  <div class="row">
    <div class="col-2 d-none d-sm-none d-sm-block">
<app-bestleagues></app-bestleagues>
<app-sportlist></app-sportlist>
</div>
<div class="col-md-8 ">
<app-sportview ></app-sportview>
</div>


<div class="col-12 d-none d-sm-block d-md-none d-block d-sm-none">
  <app-bestleagues></app-bestleagues>
  </div>



  
<div class="col-12 d-none d-sm-block d-md-none d-block d-sm-none">
  <app-livenow></app-livenow>
  </div>

<div class="col-md-2 bts">
  <app-betslip></app-betslip>
</div>


</div>

















</div>


